body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f7fd;
}

.App {
  height: 100vh;
}

.photo-viewer-parent {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.photo-view {
  height: 400px;
  width: 600px;
  max-height: 600px;
  max-width: 600px;
  margin: 0 20px 0 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.img {
  width: auto;
  height: auto;
  max-height: 400px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
}

.btn {
  width: 80px;
  height: 40px;
  background: #5ee1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.3em;
  border-radius: 3px;
}

.btn + .btn {
  margin-left: 10px;
}

.btn-disabled {
  background: #d5f0e7;
  color: #9b9d9c;
}

.btn-active:hover {
  background: #2dbd90;
}

.btn-active:active {
  box-shadow: 0 0 2px 2px rgb(19, 87, 213);
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-top: 50px;
}

input[type="text"] {
  width: 300px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background-color: white;
  outline: none;
  height: 35px;
  font-size: 16px;
  margin-right: 20px;
  padding-left: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100px;
  height: 35px;
  background-color: #3a87e4;
  color: white;
  font-size: 16px;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

input[type="submit"]:active {
  color: #145268;
}

input[type='submit']:hover {
  box-shadow: 0 0 2px 2px rgb(19, 87, 213);
}

input[type='submit']:focus {
  outline: none;
}

